@import url("normalize.css");

html {
    background-color: #dddddd;
}

body {
    font-family: Menlo, Monospace;
    font-size: 10pt;
}

pre {
    font-family: Menlo, Monospace;
    font-size: 10pt;
    line-height: 150%;
}

a:link {
  color: #315192;
}

a:visited {
  color: #7b447f;
}

a:hover {
    color: #2d7e8a;
}

#placeholder {
    margin: 5em;
    padding: 1em;
}

